*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}
.medsos{
    padding: 20px 0;
     background-color: #FFB433;
}
.medsos ul li{
    display: inline-block;
    color: #fff;
    margin-right: 5px;
}
.container{
    width: 80%;
    margin: auto;
}

header h1{
    float: left;
    padding: 20px 0;
    color: #FFB433;
    margin-right: auto;
}

header ul{
    float: right;
}
header ul li{
    display: inline-block;
}
header ul li a{
    padding: 25px 20px;
    display: inline-block;
}
header ul li a:hover{
    background-color: #FFB433;
    color: #fff;
}
.active{
    background-color: #FFB433;
    color: #fff;
}


footer {
    padding: 20px 0;
    background-color: #AF7719;
}

body {
    margin:0;
	padding: 0;
	background: url(indobg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.kota {
    font-family: 'Gill Sans';
    display: flex;
    list-style: none;
    gap: 48px;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
    font-size: 35px;
}